body{
font-family:Arial;
background:#f0f0f0;
}

.container{
width:70%;
margin:40px auto;
border:2px solid black;
padding:20px;
background:white;
}

h2{
text-align:center;
}

.section{
margin-bottom:15px;
}

input{
width:70%;
padding:6px;
margin-top:5px;
}


button{
background:#007bff;
color:white;
border:none;
padding:10px 18px;
cursor:pointer;
margin-top:15px;
font-size:16px;
}