
.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.calculator {
  background: #ffffff;
  padding: 35px;
  width: 340px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  text-align: center;
}



.calculator h2 {
  margin-bottom: 20px;
  color: #222;
}



.calculator input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f8f9fb;
  color: #222;
}



.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}



button {
  width: 65px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #3498db;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #217dbb;
}



.calculator h3 {
  color: #222;
  margin-top: 10px;
}
