/* Reset + base layout */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Base font */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f6f9;
}
